<nav class="header-nav">
    <ul>
        <li><a href="/" class="nav-item logo">Time Capsule</a></li>
        <li><a href="#" class="nav-item">My Account</a></li>
        <li><a href="capsule" class="nav-item">My Capsules</a></li>
        <li><a href="#" class="nav-item">Logout</a></li>
    </ul>
</nav>

<section class="existing-capsules">
    <h2>Continue working on your existing Time Capsules!</h2>

    <ul>
        <li>
            <h3>Erika's Test Capsule Name</h3>
            <div class="btn-group">
                <button class="btns">Edit</button>
                <button class="btns">Delete</button>
                <button class="btns">Seel</button>
            </div>
        </li>
        <li>
            <h3>Josh's Test Capsule Name</h3>
            <div class="btn-group">
                <button class="btns">Edit</button>
                <button class="btns">Delete</button>
                <button class="btns">Seel</button>
            </div>
        </li>
        <li>
            <h3>James's Test Capsule Name</h3>
            <div class="btn-group">
                <button class="btns">Edit</button>
                <button class="btns">Delete</button>
                <button class="btns">Seel</button>
            </div>
        </li>
    </ul>
</section>

<section class="new-capsules">
    <h2>Start a new capsule!</h2>

    <div class="capOptions">
        <a class="capType capType-self" href="/capsuleBuilder">
            <p>For Yourself</p>
        </a>
        <a class="capType capType-other" href="#">
            <p>For Others</p>
        </a>
        <a class="capType capType-group" href="#">
            <p>As a Group</p>
        </a>
    </div>
</section>