<section class="intro">
    <div class="intro__content">
        <h1>Time Capsule</h1>
        <h2>
            Share memories and messages that are important to you, both during and after life. Create digital time
            capsules that are delivered immediately, and made viewable to the people you love at a later time and
            date.
        </h2>
        <button class="btns">Sign Up</button>
        <button id="accountlogin" class="btns" onclick="window.location.href = 'login';">login</button>
    </div>
</section>

<img class="people" src="../assets/people.jpg" height="1280" width="1920" alt="" />

<section class="media">
    <div>
        <h2>Collect Your things</h2>
        <img src="../assets/media.png" height="472" width="1156" alt="" />
    </div>
</section>
<section class="seel">
    <div class="seel-wrap">
        <h2>Seel it up!</h2>
        <div class="flex">
            <p>
                Set the date and time you want your capsule be able to be opened. Select your secrete capsule code
                and send it off to the reciepent's of your choice. The recipient's won't be able to view the
                contents of the capsule until the exact date you specified.
                They will see a countdown timer until it is opened!
            </p>
            <img src="../assets/hourglass.png" height="920" width="799" alt="" />
        </div>
    </div>
</section>